body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: $bg-darkgrey;

}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect (0 0 0 0);
  overflow: hidden;
}

.button{
  display: block;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}

.slider__toggle{
  width: 10px;
  height: 10px;
  margin-right: 23px;
  padding: 0;

  font-size: 0;
  cursor: pointer;
  background-color: transparent;
  transform: rotate(45deg);
}

.slider__toggle:last-child {
  margin-right: 0;
}
