$bg-darkgrey: #292929;
$bg-grey: #353535;
$bg-light-grey: #f8f5f2;
$bg-white: #f8f5f2;
$button-grey: #e5ddd5;
$button-beige: #d5c9bd;
$button-brown: #958c84;
$brown: #826550;
$dark-brown: #6a4d38;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1100px;
